/*for tableau page*/

/*These ones sets the styles of each of my tableau graphs*/

.tableaupadding{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
}

/*For main page styling*/
.backwhite {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

body{
    background-color: burlywood;
}

.headCenter{
    text-align: center;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    color: burlywood;
}

.brown{
    color: burlywood;
}


/*Styles for my header and footer*/
.header {
    overflow: hidden;
    background-color: #616161;
    opacity: .8;
    padding: 20px 10px;
}

.header a {
    float: right;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 12px;
    line-height: 17px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header a:hover{
    text-decoration: underline;
    color: lightseagreen;
}

.footer {
    text-align: center;
}
.footer a:hover {
    color: lightseagreen;
}
.footer a{
    color:blue;
}
